<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
<table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%" style="font-family: Lato, sans-serif;  height:100%; background-color: #f4f4f4; color: #464646;">
    <tr>
        <td align="center">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 644px; background-color: #ffffff; border-radius: 8px; overflow: hidden;">

                <tr>
                    <td style="padding: 20px;">
                        <h1 style="color: #065186; font-size: 24px; font-weight: 800; margin: 0 0 10px;">Attendance<span style="color: #464646;">System</span></h1>
                    </td>
                </tr>
                <tr>
                    <td style="display: flex; justify-content: space-between; background-color: #e6f0fa; padding: 20px; text-align: left;">
                        <h2 style="width: 227px; color: #065186; font-size: 24px; font-weight: 800;">Password Reset</h2>
                        <img src="cid:envelope-icon" alt="Envelope icon"/>
                    </td>
                </tr>

                <tr>
                    <td style="padding: 30px 20px; text-align: left;">
                        <p style="font-size: 16px; line-height: 24px; margin: 0 0 25px;" th:text="'Hello ' + ${username} + ','">Hello User,</p>
                        <p style="font-size: 16px; line-height: 24px; margin: 0 0 25px;">
                            We received a request to reset your password. To proceed with the password reset, please use the following code:
                        </p>

                        <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%" style="border: 1px solid #EFEFEF; border-radius: 10px; border-left: 4px solid #065186; padding: 20px; margin-bottom: 25px;">
                            <tr>
                                <td style="text-align: center;">
                                    <p style="font-size: 36px; line-height: 40px; margin: 0; letter-spacing: 5px; color: #333; font-weight: bold;" th:text="${activation_code}">123456</p>
                                </td>
                            </tr>
                        </table>

                        <p style="font-size: 16px; line-height: 24px; margin: 0 0 25px;">
                            If you didn't request this password reset, please ignore this email or contact support team if you have concerns.
                        </p>

                        <p style="font-size: 14px; color: #666; margin: 0; text-align: center; font-style: italic;">
                            This code will expire in 15 minutes for security purposes.
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>