<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account Created Successfully</title>
</head>
<body>
<table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%" style="font-family: Lato, sans-serif;  height:100%; background-color: #f4f4f4; color: #464646;">
  <tr>
    <td align="center">
      <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 644px; background-color: #ffffff; border-radius: 8px; overflow: hidden;">

        <tr>
          <td style="padding: 20px;">
            <h1 style="color: #065186; font-size: 24px; font-weight: 800; margin: 0 0 10px;">Attendance<span style="color: #464646;">System</span></h1>
          </td>
        </tr>
        <tr>
          <td style="display: flex; justify-content: space-between; background-color: #e6f0fa; padding: 20px; text-align: left;">
            <h2 style="width: 227px; color: #065186; font-size: 24px; font-weight: 800;">Welcome to your New Account!</h2>
            <img src="cid:envelope-icon" alt="Envelope icon"/>
          </td>
        </tr>

        <tr>
          <td style="padding: 30px 20px; text-align: left;">
            <p style="font-size: 16px; line-height: 24px; margin: 0 0 25px;" th:text="'Hello ' + ${username} + ','">Hello First,</p>
            <p style="font-size: 16px; line-height: 24px; margin: 0 0 25px;">
              Your account has been successfully created. Below are your temporary login credentials:
            </p>

            <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%" style="border: 1px solid #EFEFEF; border-radius: 10px; border-left: 4px solid #065186; padding: 20px; margin-bottom: 25px;">
              <tr>
                <td>
                  <p style="font-size: 16px; line-height: 20px; margin: 0 0 5px;">
                    <strong>Email:</strong> <span th:text="${email}">uncertain.chicken.pgfz@letterprotect.com</span>
                  </p>
                  <p style="color: #333333; font-size: 16px; line-height: 20px; margin: 0;">
                    <strong>Temporary Password:</strong> <span th:text="${temporary_password}">KTfuoTBB8rN</span>
                  </p>
                </td>
              </tr>
            </table>

            <p style="color: #d93025; font-size: 16px; font-weight: 700; line-height: 20px; margin: 0 0 25px;">
              For security reasons, please change your password immediately after your first login.
            </p>
            <p>Click here to access your account:</p>

            <a href="http://qr-code-frontend-alb-800572897.us-east-1.elb.amazonaws.com" style="display: inline-block; background-color: #065186; color: #ffffff; font-size: 16px; padding: 12px 24px; font-weight: 700; text-decoration: none; border-radius: 4px;">Go to account</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>