:host {
  display: block;
  min-height: 100vh;
}

.backdrop-blur-sm {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.layoutBackground {
  position: relative;
}

.background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../../../assets/images/auth-background.jpg') no-repeat left bottom;
  background-size: cover;
  opacity: 0.5;
  z-index: 0;
}
